*{ 
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
  }
  header{ 
    height: 170px;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1{ 
    font-size: 36px;
    margin-bottom: 1.5rem;
    color: white;
  }