.container-info{ 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 13px;
    height: 90px;
    margin-top: -40px;
}
.mes-selecionado{ 
    display: flex;
    gap: 1rem;
}
button{ 
    cursor: pointer;
}